#loginpage {
    color: white;
    position: absolute;
    border: 5px solid white;
    border-radius: 20px;
    width: 200px;
    height: 250px;
    z-index: 100;
    top: 40%;
    left: 50%;
    margin: -75px 0px 0px -200px;
}
#loginBackground {
    background: url("https://i.pinimg.com/736x/db/5f/92/db5f92e2d71ad969fe3aa4cba14fd7cb--harry-potter--always-harry-potter.jpg") no-repeat center center fixed;
    background-size: cover;
}
h1 {
    color: white;
    text-align: center;
}
